In [1]:
import os
os.chdir('c:/bench/bst/data')
import pandas as pd

In [3]:
dems=pd.read_csv('mi/sos/Democrats.csv')
dems.head()

C:\Python39\lib\site-packages\IPython\core\interactiveshell.py:3169: DtypeWarning: Columns (14,15) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,VOTERID,DLCOUNTYCODE,JURISDCODE,AV,LASTNAME,FIRSTNAME,MIDDLENAME,SUFFIX,RESZIPCODE,RESADDRESS1,RESADDRESS2,MAILADDRESS1,MAILADDRESS2,MAILADDRESS3,MAILADDRESS4,MAILADDRESS5,PRIMARYBALTYPE
0,6820491,1,1040,AV,ANDERSON,DALE,FRANCIS,NaN,48742,4306 N MOLE RD,LINCOLN MI 48742,NaN,NaN,NaN,NaN,NaN,D
1,6820649,1,1040,NON-AV,ANUSZKIEWICZ,DAVID,JAMES,NaN,48721,4949 LALONDE RD,BLACK RIVER MI 48721,NaN,NaN,NaN,NaN,NaN,D
2,4001066699,1,1040,NON-AV,BANDLOW,CAROL,ANN,NaN,48742,4350 N WOOD RD,LINCOLN MI 48742,NaN,NaN,NaN,NaN,NaN,D
3,31271470,1,1040,NON-AV,BECKTA,ADAM,JOHN,NaN,48762,6196 N F 41,SPRUCE MI 48762,NaN,NaN,NaN,NaN,NaN,D
4,31271471,1,1040,NON-AV,BECKTA,MADELINE,JEANNE,NaN,48762,6196 N F 41,SPRUCE MI 48762,NaN,NaN,NaN,NaN,NaN,D

In [4]:
vdf=pd.read_csv('voters/Bruce_St_voters.csv')
vdf.head()

,last_name,first_name,middle_name,name_suffix,birth_year,gender,street_address,city,zipcode,county,...,2011-09-13,2011-08-02,2011-05-03,2011-02-22,2010-11-02,2010-09-14,2010-08-03,2010-05-04,2010-02-23,2010-02-08
0,RABLE,ZACHARY,ANDREW,NaN,1988,M,2015 MILLER AVE,ANN ARBOR,48103,81,...,N,N,N,N,Y,X,X,X,X,X
1,BIGGS,CURT,ELLIS,NaN,1965,M,1877 MILLER AVE,ANN ARBOR,48103,81,...,N,N,N,N,N,N,N,N,N,N
2,FLYNN,DENISE,M,NaN,1957,F,2133 MILLER AVE,ANN ARBOR,48103,81,...,N,N,N,N,Y,N,N,N,N,N
3,KIRCHNER,AUDREY,NaN,NaN,1945,F,2011 MILLER AVE,ANN ARBOR,48103,81,...,N,N,N,N,Y,N,Y,N,N,N
4,MAZUR,LORI,ANNE,NaN,1959,F,2035 MILLER AVE,ANN ARBOR,48103,81,...,N,N,N,N,N,N,N,N,N,N

In [11]:
bruce_dems=dems[dems.VOTERID.isin(vdf.voter_id)]
bruce_dems.head()

,VOTERID,DLCOUNTYCODE,JURISDCODE,AV,LASTNAME,FIRSTNAME,MIDDLENAME,SUFFIX,RESZIPCODE,RESADDRESS1,RESADDRESS2,MAILADDRESS1,MAILADDRESS2,MAILADDRESS3,MAILADDRESS4,MAILADDRESS5,PRIMARYBALTYPE
862608,4001745657,81,3000,NON-AV,ADAMS,ROBERT,JAMES,NaN,48103,827 WESTWOOD AVE,ANN ARBOR MI 48103,NaN,NaN,NaN,NaN,NaN,D
862641,102386696,81,3000,NON-AV,ADISKA,DONALD,GARY,NaN,48103,1901 SUNRISE ST,ANN ARBOR MI 48103,NaN,NaN,NaN,NaN,NaN,D
863529,102957129,81,3000,NON-AV,BADALAMENTI,VINCENT,WALTER,NaN,48103,1068 WESTAIRE WAY,ANN ARBOR MI 48103,NaN,NaN,NaN,NaN,NaN,D
864302,4000863926,81,3000,NON-AV,BENNETT,GEORGE,FRANKLIN,JR,48103,1801 SUNRISE ST,ANN ARBOR MI 48103,NaN,NaN,NaN,NaN,NaN,D
864320,4000863932,81,3000,NON-AV,BENNETT,TRACY,GAYLE,NaN,48103,1801 SUNRISE ST,ANN ARBOR MI 48103,NaN,NaN,NaN,NaN,NaN,D

In [6]:
len(bruce_dems)

99

In [17]:
vdf.voter_id.dtypes

dtype('int64')

In [18]:
bruce_dems.VOTERID.dtypes

dtype('int64')

In [13]:
pd.unique(vdf.party)

array(['X'], dtype=object)

In [8]:
vdf.party='X'

In [20]:
for id in bruce_dems.VOTERID:
    vdf.loc[vdf.voter_id == id, 'party'] = 'D'
pd.unique(vdf.party)

array(['X', 'D'], dtype=object)

In [21]:
reps=pd.read_csv('mi/sos/Republicans.csv')
reps.head()

C:\Python39\lib\site-packages\IPython\core\interactiveshell.py:3169: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,VOTERID,DLCOUNTYCODE,JURISDCODE,AV,LASTNAME,FIRSTNAME,MIDDLENAME,SUFFIX,RESZIPCODE,RESADDRESS1,RESADDRESS2,MAILADDRESS1,MAILADDRESS2,MAILADDRESS3,MAILADDRESS4,MAILADDRESS5,PRIMARYBALTYPE
0,1870002909,1,1040,NON-AV,BAIR,JANINE,KAY,NaN,48721,5896 RIDGE RD,BLACK RIVER MI 48721,NaN,NaN,NaN,NaN,NaN,R
1,4003177315,1,1040,NON-AV,BAIR,STEVEN,BURNS,NaN,48721,5896 RIDGE RD,BLACK RIVER MI 48721,NaN,NaN,NaN,NaN,NaN,R
2,1870003525,1,1040,NON-AV,BAIR,VICTORIA,JANINE,NaN,48721,5896 RIDGE RD,BLACK RIVER MI 48721,NaN,NaN,NaN,NaN,NaN,R
3,106452127,1,1040,NON-AV,BARBATO,KELLY,ANN,NaN,48762,6540 BROOK TROUT LN,SPRUCE MI 48762,NaN,NaN,NaN,NaN,NaN,R
4,107644463,1,1040,NON-AV,BARBATO,ROBERT,CARL,NaN,48762,6540 BROOK TROUT LN,SPRUCE MI 48762,NaN,NaN,NaN,NaN,NaN,R

In [22]:
bruce_reps=reps[reps.VOTERID.isin(vdf.voter_id)]
bruce_reps.head()

,VOTERID,DLCOUNTYCODE,JURISDCODE,AV,LASTNAME,FIRSTNAME,MIDDLENAME,SUFFIX,RESZIPCODE,RESADDRESS1,RESADDRESS2,MAILADDRESS1,MAILADDRESS2,MAILADDRESS3,MAILADDRESS4,MAILADDRESS5,PRIMARYBALTYPE
1156230,1630000341,81,3000,AV,BEHNKE,DOROTHY,NaN,NaN,48103,603 DUNCAN ST,ANN ARBOR MI 48103,NaN,NaN,NaN,NaN,NaN,R
1156895,4465303,81,3000,NON-AV,CHASTEEN,MARILYN,RUTH,NaN,48103,412 WESTWOOD AVE,ANN ARBOR MI 48103,NaN,NaN,NaN,NaN,NaN,R
1156940,1630000927,81,3000,NON-AV,CHRISTEN,CATHERINE,NaN,NaN,48103,1011 DUNCAN ST,ANN ARBOR MI 48103,NaN,NaN,NaN,NaN,NaN,R
1157122,1630001644,81,3000,NON-AV,COWAN,A,BRUCE,NaN,48103,411 WESTWOOD AVE,ANN ARBOR MI 48103,NaN,NaN,NaN,NaN,NaN,R
1157124,4484232,81,3000,NON-AV,COWAN,HEIDI,JO,NaN,48103,411 WESTWOOD AVE,ANN ARBOR MI 48103,NaN,NaN,NaN,NaN,NaN,R

In [23]:
for id in bruce_reps.VOTERID:
    vdf.loc[vdf.voter_id == id, 'party'] = 'R'
pd.unique(vdf.party)

array(['X', 'D', 'R'], dtype=object)